<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Result</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
    
    <h1><div class=top> <center>Drill no 1 -Drill ID 1</center></div></h1>
    <br>
    
    <div class=cont>
      <p align="center">Data: </p>
      <p> Patient name: Harshtiha Koppisetty
      <br> Patient ID: 020003
      <br> Doctor name: Dr Ruchi G.
      <br> Doctor ID: 010001 
      <br> Diagnosis: Spasmodic Dysphonia
      <br> Exercise no: 1
      <br> Drill no: 1
      <br> Drill ID: D0002
    </p></div>
    <div class=cont>
      <p align="center">Conclusion: </p>
      <br> Result: 72%
      <br> Graph of patient: <br> <image src="{{ url_for('static', filename='images/1438-iau.png') }}" style="max-width: 60%; max-height: 60%;" />
      <br> Graph of unaffected person: <br> <image src="{{ url_for('static', filename='images/92-iau.png') }}" style="max-width: 60%; max-height: 60%;" />
    </div>
    <br>
    <br> <br><div class="bot"></div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>


<!-- to make row clickable
  https://stackoverflow.com/questions/17147821/how-to-make-a-whole-row-in-a-table-clickable-as-a-link

  -->